In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests 
import os

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

In [6]:
dicto = {}
i = 0
for period in ['2019Q1', '2019Q2', '2019Q3', '2019Q4','2020Q1', '2020Q2', '2020Q3', '2020Q4']:
  csv_url = 'https://aqicn.org/data-platform/covid19/report/13220-61539cf0/'+ period
  print(csv_url)
  req = requests.get(csv_url)
  print("successful")  
  url_content = req.content
  csv_file = open(f'downloaded_{i}.csv', 'wb')
  csv_file.write(url_content)
  csv_file.close()
  dicto[f"df_{i}"] = pd.read_csv(f"downloaded_{i}.csv", skiprows=4,low_memory=False)
  i+=1

https://aqicn.org/data-platform/covid19/report/13220-61539cf0/2019Q1
successful
https://aqicn.org/data-platform/covid19/report/13220-61539cf0/2019Q2
successful
https://aqicn.org/data-platform/covid19/report/13220-61539cf0/2019Q3
successful
https://aqicn.org/data-platform/covid19/report/13220-61539cf0/2019Q4
successful
https://aqicn.org/data-platform/covid19/report/13220-61539cf0/2020Q1
successful
https://aqicn.org/data-platform/covid19/report/13220-61539cf0/2020Q2
successful
https://aqicn.org/data-platform/covid19/report/13220-61539cf0/2020Q3
successful
https://aqicn.org/data-platform/covid19/report/13220-61539cf0/2020Q4
successful

In [7]:
dicto.keys()

dict_keys(['df_0', 'df_1', 'df_2', 'df_3', 'df_4', 'df_5', 'df_6', 'df_7'])

In [8]:
dicto['df_0'].head()

         Date Country       City Specie  count    min    max  median  variance
0  2019-01-16      AE  Abu Dhabi   pm10     24   86.0   99.0    97.0    179.40
1  2019-01-22      AE  Abu Dhabi   pm10     24   51.0   57.0    55.0     23.75
2  2019-01-26      AE  Abu Dhabi   pm10     24  136.0  173.0   160.0    941.96
3  2019-01-07      AE  Abu Dhabi   pm10     24   60.0   91.0    72.0   1006.88
4  2019-01-10      AE  Abu Dhabi   pm10     24   82.0   93.0    87.0     57.97

In [9]:
frames = [dicto[f"df_{i}"].sort_values('Date') for i in range(8)]

In [16]:
res = pd.concat(frames)
res.head()

,Date,Country,City,Specie,count,min,max,median,variance
149419,2018-12-31,FR,Paris,dew,97,5.0,8.0,7.0,8.32
54650,2018-12-31,IL,Ashkelon,temperature,72,9.2,19.6,12.1,72.78
221778,2018-12-31,RO,Râmnicu Vâlcea,pm10,48,24.0,42.0,34.0,182.97
248821,2018-12-31,ES,Burgos,no2,48,0.5,49.4,7.8,1478.16
435001,2018-12-31,PL,Łódź,so2,71,0.4,16.6,2.6,109.18

In [17]:
res.tail()

,Date,Country,City,Specie,count,min,max,median,variance
508184,2021-01-03,AU,Hobart,pm25,41,5.0,13.0,9.0,63.80
133041,2021-01-03,IN,Kolkata,pm25,236,160.0,834.0,224.0,103322.00
425333,2021-01-03,DE,Hannover,wind-speed,48,1.0,7.0,3.0,20.53
394408,2021-01-03,RS,Novi Sad,pm10,48,5.0,22.0,14.0,123.12
570582,2021-01-03,HR,Rijeka,o3,47,11.6,31.3,20.7,233.17

In [18]:
res.shape

(4502027, 9)

In [19]:
res['Date'].max()

'2021-01-03'

In [20]:
res.sort_values(['Date','Country']).tail()

,Date,Country,City,Specie,count,min,max,median,variance
98148,2021-01-03,ZA,Johannesburg,wd,71,8.1,359.6,116.0,153479.00
98261,2021-01-03,ZA,Johannesburg,precipitation,8,0.1,0.4,0.2,0.14
97960,2021-01-03,ZA,Johannesburg,no2,48,2.4,12.0,4.4,58.98
97939,2021-01-03,ZA,Johannesburg,wind-speed,109,0.2,5.5,2.0,20.65
98073,2021-01-03,ZA,Johannesburg,pressure,72,826.8,858.9,843.8,828.00

In [21]:
res[res['Country']=='FR'].head()

,Date,Country,City,Specie,count,min,max,median,variance
149419,2018-12-31,FR,Paris,dew,97,5.0,8.0,7.0,8.32
162424,2018-12-31,FR,Metz,wind-speed,155,0.1,7.2,4.0,72.47
162149,2018-12-31,FR,Metz,so2,44,0.1,4.2,1.3,17.59
162263,2018-12-31,FR,Metz,pressure,168,1031.6,1035.4,1033.9,8.55
162228,2018-12-31,FR,Metz,pm25,168,25.0,61.0,43.0,653.73